/* Meyer reset */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}





/* Custom styles */

* {
	box-sizing: border-box;
	background-color: white;
	color: black;
}



.logo {
  background-color: #333;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  color: transparent;
  color: rgba(0,0,0,0.3);
  text-shadow: rgba(255,255,255,0.3) 1px 1px 1px;
  margin-left: 40px;
  /* shadow technique by Gordon Hall and Kushagra Agarwal */
}


.banner {
  height: 100px;
  background: #666;
  position: fixed;
  top: 0;
  width: 100%;
  height: 100px;
  padding: 10px 0;
  font: bold 60px/80px Arial, sans-serif;
  z-index: 1;
}

nav, .tweetBox, .tweet, button, textarea {
  font: lighter 18px Arial, sans-serif;
}

.tweet, textarea, button {
	border: 1px solid black;
}

.main {
	margin: 100px 0 0 0;
	height: 100%;
}

nav {
	margin-top: 25px;
	width: 250px;
	border-left: 1px dotted black;
	padding: 15px 40px 0 40px;
	display: inline-block;
}

.tweetBox {
	float: left;
	padding: 30px 40px;
	overflow: auto;
}

.tweet, button, textarea {
  -webkit-box-shadow: 0 10px 6px -6px #777;
  -moz-box-shadow: 0 10px 6px -6px #777;
  box-shadow: 0 10px 6px -6px #777;
}

.tweet {
	height: 100px;
	width: 500px;
	margin: 15px 0;
	padding: 10px;
    position: relative;
}


textarea {
    width: 300px;
    height: 100px;
    padding: 5px 5px;
    margin: 5px 0;
    resize: none;
}

.currentUser {
	font: italic lighter 30px Arial, sans-serif;
}

.user, .currentUser {
	cursor: pointer;
	color: rgb(61, 134, 255);
}

button {
	margin: 5px 0;
	border-radius: 0px;
	position: relative;
	cursor: pointer;
}

button:focus {
	outline: 0;
}

.tweetUser {
	margin-bottom: 5px;
}

.tweetDate {
	font-size: 10px;
	position: absolute;
	bottom: 3px;
	right: 3px;
}

.following {
	padding: 5px 0 0 10px;
}





















